<div class="row">
  <div class="span6">
    <h3><%=  @company.name %></h3>
  </div>
</div>

<div><br></div>

<div class="row">
  <div class="span2">Type</div>
  <div class="span6"><%=  @company.type %></div>
</div>

<div class="row">
  <div class="span2">Size</div>
  <div class="span6"><%=  @company.size %></div>
</div>

<div class="row">
  <div class="span2">Founded</div>
  <div class="span6"><%=  @company.year_founded %></div>
</div>

<%=  debug @company %>