<!DOCTYPE html>
<html lang="en">
<head>
  <title>CB Api Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <style>
      body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  </style>
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "CB Api Demo", root_url, :class => "brand"%>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><%= link_to 'GitHub', 'https://github.com/cbdr/ruby-cb-api'%></li>
          <li><%= link_to 'RubyGems', 'https://rubygems.org/gems/cb-api'%></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <%= yield %>

</div> <!-- /container -->
</body>
</html>
